@import url("./styles/reset.css");
@import url("./styles/vars.css");

body {
  height: 95dvh;
  display: flex;
  flex-direction: column;
  background-color: var(--Light-gray);
}
body > main {
  margin: auto;

  article {
    margin: auto;
    padding: 1rem;
    width: 20rem;
    text-align: center;
    background-color: var(--White);
    border-radius: 1rem;

    img {
      border-radius: 1rem;
    }
    h1 {
      font-size: 1.4rem;
      font-weight: 700;
    }
    p {
      font-weight: 400;
    }
  }
}
